{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/bia.css" %}" />
{% endblock %}

<footer class="container">

{% block footer %}
    {% comment %}
        Could be used for displaying links to privacy policy, terms of service, etc.
    {% endcomment %}

    <div class="footerDiv">
        <br>
        <p class="footerP"><a class="footerA" href="/BIA/termsOfUse">Términos de uso</a> - <a class="footerA" href="/BIA/aboutUs">Sobre nosotros</a> - <a class="footerA" href="/dashboard">Modo Administrador</a></p>
    </div>         
{% endblock %}
</footer>
