{% load i18n %}
{% load currency_filters %}

<div id="basket_totals">
    <table class="table table-sm">
        <tr>
            <th colspan="2"><h3>{% trans "Basket" %}</h3></th>
        </tr>
        {% with discounts=order.basket_discounts %}
            {% block basket_total %}
                <tr class="basket-items">
                    <th class="total">{% trans "Basket total" %}</th>
                    <th class="total text-right">
                        {% if show_tax_separately %}
                            {{ order.basket_total_excl_tax|currency:order.currency }}
                        {% else %}
                            {{ order.basket_total_incl_tax|currency:order.currency }}
                        {% endif %}
                    </th>
                </tr>
            {% endblock basket_total %}
        {% endwith %}

        {% block shipping_total %}
            <tr>
                <th>&nbsp;</th>
                <td></td>
            </tr>
            <tr>
                <th colspan="2"><h3>{% trans "Shipping" %}</h3></th>
            </tr>
            <tr>
                <td>{% trans "Shipping method" %}</td>
                <td class="text-right">{{ order.shipping_method }}</td>
            </tr>
            <tr>
                <th class="total">{% trans "Shipping charge" %}</th>
                <th class="total text-right">
                    {% if show_tax_separately %}
                        {{ order.shipping_excl_tax|currency:order.currency }}
                    {% else %}
                        {{ order.shipping_incl_tax|currency:order.currency }}
                    {% endif %}
                </th>
            </tr>
        {% endblock shipping_total %}

        {% block surcharges %}
            {% with surcharges=order.surcharges.all %}
            {% if surcharges %}
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2"><h3>{% trans "Surcharges" %}</h3></th>
                </tr>
                {% for charge in surcharges %}
                <tr>
                        <th class="total">{{ charge.name }}</th>
                        <th class="total align-right"> 
                            {% if show_tax_separately %}
                                {{ charge.excl_tax|currency:order.currency }}
                            {% else %}
                                {{ charge.incl_tax|currency:order.currency }}
                            {% endif %}
                        </th>
                </tr>
                {% endfor %}
            {% endif %}
            {% endwith %}
        {% endblock %}
        
        {% block order_total %}
            <tr>
                <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
                <td class="total"><h3>{% trans "Order total" %}</h3></td>
                <td class="total text-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
            </tr>
        {% endblock order_total %}
    </table>
</div>
